services:
  # =============================================================================
  # PHP + Composer + Laravel
  # =============================================================================
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_NAME}_app
    volumes:
      - ./:/var/www/html # Mount kode Laravel
    depends_on:
      - mysql
    networks:
      - laravel

  # =============================================================================
  # Web Server (Nginx)
  # =============================================================================
  nginx:
    image: nginx:stable
    container_name: ${APP_NAME}_nginx
    ports:
      - "8000:80" # localhost:8000 akan serve Laravel
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  # =============================================================================
  # MySQL Database
  # =============================================================================
  mysql:
    image: mysql:8.0
    container_name: ${APP_NAME}_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: webundangan_db
      MYSQL_USER: webundangan
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306" # biar nggak bentrok dengan MySQL local
    volumes:
      - mysql_data:/var/lib/mysql # Simpan data MySQL
    networks:
      - laravel

  # =============================================================================
  # phpMyAdmin
  # =============================================================================
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ${APP_NAME}_pma
    restart: unless-stopped
    ports:
      - "8080:80" # http://localhost:8080
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - laravel

# =============================================================================
# Volumes
# =============================================================================
volumes:
  mysql_data:

# =============================================================================
# Network
# =============================================================================
networks:
  laravel:
