$accordion-padding-y: 1.25rem;
$accordion-padding-x: 1.5rem;
$accordion-bg: #ffffff;
$accordion-border-color: rgba(#90ab8b, 0.35);
$accordion-border-radius: $border-radius;
$accordion-inner-border-radius: 0;

$accordion-button-bg: #ebf4dd;
$accordion-button-color: #3b4953;
$accordion-button-active-bg: rgba(#5a7863, 0.1);
$accordion-button-active-color: #5a7863;
$accordion-button-focus-border-color: #5a7863;
$accordion-button-focus-box-shadow: 0 0 0 3px rgba(#5a7863, 0.15);
$accordion-icon-color: #5a7863;
$accordion-icon-active-color: #5a7863;
