$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding-x: 0.5rem;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: rgba(#3b4953, 0.4);
$breadcrumb-active-color: rgba(#3b4953, 0.6);
$breadcrumb-divider: quote("›"); // ganti dari "/" ke "›"
$breadcrumb-border-radius: 0;
